extends ../layout/base

block variables
  - let title = 'test'


block main
  main.main
    .main__container
      h1.main__title Добавление платежной карты
      .main__content
        .main__form
          h3.main__content-title Номер карты

          form(id="form")
            img.icon(src="/assets/img/icons/")
            +formItem('cardNumber','form')
            .form__wrap
              +formItem('cardDate','form')
              +formItem('password','form')
            p.form__text Для привязки карты мы проведем платеж в размере 1.00 UAH, который будет возвращен в течение 30 минут
            .form__button
              button(type="submit") Получить деньги
              .lds-ring
                  - for(let i = 0; i < 4; i++)
                      div
